@charset "UTF-8";
#road{
    	text-align:right;
    	font-size:.8em;
    	color:#ccc;
    }
    
    #topname{
    	text-align: center;
    }
    
    #topname p b{
    	border-bottom: 3px solid #ccc;
    }
    
    #joinus table {
    	width: 100%;
    	border-collapse : collapse;
    	border-top: 1px solid #ccc;
    	font-size: .7em;
    }
    
    #joinus table td{
    	border-bottom: 1px solid #ccc;
    	padding:8px 0px 8px 8px;
    }
    
    #joinus table td:first-child{
    	border-right: 1px solid #ccc;
    }
    
    input[type = "text"], input[type = "password"], select, input[type = "date"]{
    	padding:4px 0px;
    }
    
    #joinbtn{
    	margin:30px 0px 60px;
    }
    
    #join{
    	width:150px;
    	color: white;
    	background: #000000;
    	border: none;
    	padding: 10px;
    	font-size: .8em;
    }
    
    #host{
    	width:150px;
    	background: #fff;
    	border: 1px solid #ccc;
    	padding: 10px;
    	font-size: .8em;
    }
    
    #addressbtn, #overlabchk, #formal, #Numcheck{
    	box-sizing: border-box;
	    padding: 2px 8px;
	    border: 1px solid #ccc;
	    border-radius: 0;
	    font-size: 11px;
	    line-height: 18px;
	    font-weight: normal;
	    text-decoration: none;
	    vertical-align: middle;
	    word-spacing: -0.5px;
	    letter-spacing: 0;
	    text-align: center;
	    white-space: nowrap;
	    background-color: #fff;
	    transition: all 0.15s ease;
    }