#topnamesub{
    	margin-top: 15px;
    	text-align: center;
    	font-size: .75em;
    	color: gray;
    }
    
    #road{
    	text-align:right;
    	font-size:.8em;
    	color:#ccc;
    }
    
    #topname{
    	text-align: center;
    }
    
    #topname p b{
    	border-bottom: 3px solid #ccc;
    }
    
    #review{
    	text-align:left;
    	font-size: .8em;
    }
    
    #review table tr td{
    	padding: 10px 10px;
    	border-bottom: 1px solid #ccc;
    	
    }
    
    #review table{
    	border-collapse: collapse;
    	
    }
    
    #prddata{
    	margin: 15px 0px;
    	width: 100%;
    	font-size: .75em;
    }
    
    #prddata input{
    	padding: 5px 5px;
    	background: #fff;
    	border: 1px solid #ccc;
    }
    
    .oneandone table{
    	border-bottom:1px solid #ccc;
    	border-top:1px solid #ccc;
    }
    
    .oneandone .firsttr ~ tr td{
    	border-top:1px solid rgba(204, 204, 204 ,0.3);
    }
    
    .oneandone .firsttr td{
    	border-top:1px solid #ccc;
    }
    
    #content{
    	text-align: left;
    	font-size: .8em;
    	padding: 20px 0px;
    	margin: 30px 0px 20px;
    	border-bottom: 1px solid #ccc;
    }
    
    #golist input[type = "button"]{
    	width:80px;
    	padding: 10px 0px;
    	background: #fff;
    	border: 1px solid #ccc;
    }
    
    #golist input[type = "submit"]{
    	width: 80px;
    	color: white;
    	background: gray;
    	border: none;
    	padding: 10px 0px;
    }